


body {
	font-family: 'Monoton', cursive;
	font-family: 'ZCOOL XiaoWei', serif;
	font-family: 'Major Mono Display', monospace;
	font-family: 'Cinzel', serif;
	background-color:#D5D5D5;
}

ul {
	font-size:200%;
	font-family:cinzel;

}

h1 {
	font-family:major mono display;
	font-size:300%;
	text-align:center;
}

h2 {
	font-family:monoton;
	text-align:center;
}

p {
	font-family:zcool xiaowei;
	padding:10%;
}


